postfix:
  manage_master_config: True
  master_config:
    enable_submission: False

  virtual:
    groupaliasexample: 
     - someuser_1@example.com
     - someuser_2@example.com
    singlealiasexample: 'someuser_3@example.com'

  sender_canonical:
    root: 'servers@example.com'
    nagios: 'alerts@example.com'

  postgrey:
    enabled: True
    location: inet:172.16.0.5:6379

  policyd-spf:
    enabled: True
    time_limit: 7200s

  config:
    smtpd_banner: $myhostname ESMTP $mail_name
    biff: 'no'

    append_dot_mydomain: 'no'

    readme_directory: 'no'

    smtpd_tls_cert_file: /etc/ssl/certs/ssl-cert-snakeoil.pem
    smtpd_tls_key_file: /etc/ssl/private/ssl-cert-snakeoil.key
    smtpd_use_tls: 'yes'
    smtpd_tls_session_cache_database: btree:${data_directory}/smtpd_scache
    smtp_tls_session_cache_database: btree:${data_directory}/smtp_scache

    myhostname: localhost
    alias_maps: hash:/etc/aliases
    alias_database: hash:/etc/aliases
    mydestination: localhost, localhost.localdomain
    relayhost: 
    mynetworks: 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
    mailbox_size_limit: 0
    recipient_delimiter: +
    inet_interfaces: all

