# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml "postfix/defaults.yaml" as defaults %}
{% import_yaml "postfix/osfamilymap.yaml" as os_familymap %}

{% set postfix = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        os_familymap,
        merge=salt['pillar.get']('postfix:lookup', {}),
    ),
    base='postfix')
%}
